:host {
	display: grid;
	grid-template-columns: auto 1fr;
	min-block-size: 100%;
}

.app {
	&__column {
		display: flex;
		flex-direction: column;
		min-inline-size: 0;
	}

	&__main {
		position: relative;
		flex: 1;
		padding: var(--hub-sys-gap-4);
	}
}
